<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&family=Space+Mono:wght@700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/5aa7664434.js" crossorigin="anonymous"></script>
  <script defer src="/javascript/menu.js"></script>
  <% if (typeof script !== "undefined") { %>
    <script defer src="/javascript/allproduct.js"></script>
  <% } %>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
   integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
   integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
   crossorigin=""></script>
  
  <% if (typeof map !== "undefined") { %>
    <script type="module" defer src="/javascript/map.js"></script>
  <% } %>
  <link rel="stylesheet" href="/styles/style.css">
  <title>O coffee</title>
</head>
<body class="min-h-screen flex flex-col justify-between bg-gradient-to-t from-secondary to-lighter text-darker">
  
  <header class="flex justify-between items-center">
    <a href="/">
      <div class="flex items-center">
        <img src="/assets/logo.svg" alt="Logo O'Coffee">
        <h1 class="font-mono text-4xl mb-2">O'Coffee</h1>
      </div>
    </a> 
    <div id="menu-trigger" class="lg:hidden p-4 cursor-pointer">
      <i class="fa-solid fa-bars fa-xl"></i>
      <i class="fa-solid fa-xmark fa-xl !hidden"></i>
    </div>   
    <nav id="menu" class="lg:flex lg:items-center hidden">
      <ul class="lg:flex lg:items-center ">
        <li class="m-2 btn"><a href="/">Accueil</a></li>
        <li class="m-2 btn"><a href="/about">à propos</a></li>
        <li class="m-2 btn"><a href="/shop">Catalogue</a></li>
        <li class="m-2 btn"><a href="/contact">Contact</a></li>        
      </ul>
    </nav>
  </header> 