<%- include('partials/header') %>

<main class="container my-16 mx-auto">
    
  <div class="flex flex-col">
    <div class="flex flex-col">
      <div class="h-96 bg-[url(/assets/about.jpg)] brightness-125 my-16 bg-no-repeat bg-center bg-cover flex justify-center items-center rounded-lg">
        <h2 class="text-primary text-center text-4xl font-extrabold uppercase p-4 backdrop-brightness-50 rounded-lg">404 - Vous semblez perdu!</h2>   
      </div>
           
      <ul>
        <li class="p-2 mb-4"><a class="btn" href="/">Retour à l'accueil</a></li>
        <li class="p-2"><a class="btn" href="/shop">Catalogue</a></li>
      </ul>
     
  </div>    
</main>

<%- include('partials/footer') %>