<%- include('partials/header') %>

<div class="min-h-5/6 bg-lighter py-6 flex flex-col justify-center sm:py-12">
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
      <div
          class="absolute inset-0 bg-gradient-to-r from-primary to-secondary shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
      </div>
      <div class="text-white relative px-4 py-10 bg-gradient-to-r from-darker to-primary shadow-lg sm:rounded-3xl sm:p-20">

          <div class="text-center pb-6">
              <h1 class="text-3xl">Pour nous contacter!</h1>

              <p >
                  Remplissez le formulaire ci-dessous pour nous envoyer un message.
              </p>
          </div>

          <form>
              <label for="name" class="sr-only">Nom</label>
              <input
                      class="bg-white shadow mb-4 border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                      type="text" placeholder="Nom" name="name" id="name">
              <label for="email" class="sr-only">E-mail</label>
              <input
                      class="bg-white shadow mb-4 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                      type="email" placeholder="Email" name="email" id="email">

              <label for="message" class="sr-only"></label>
              <textarea
                      class="bg-white shadow mb-4 min-h-0 appearance-none border rounded h-64 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                      type="text" placeholder="Tapez votre message ici ..." name="message" style="height: 121px;" id="message"></textarea>

              <div class="flex justify-between">
                  <input
                      class="shadow bg-primary hover:bg-secondary text-darker font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                      type="submit" value="Send ➤">
                  <input
                      class="shadow bg-primary hover:bg-secondary text-darker font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                      type="reset">
              </div>

          </form>
      </div>
  </div>
</div>

<%- include('partials/footer') %>